

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {

    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

